In [7]:
import pandas as pd
import numpy as np

In [8]:
text = [
        'Sign no more, ladies',
        'Men were deceivers ever',
        'Sign no more ditties',
        'The fraud of men was ever so since summer first was leafy'
       ]

In [9]:
#создаю экземпляр класса
from sklearn.feature_extraction.text import TfidfVectorizer
tr_idf_model  = TfidfVectorizer()
# вызываю метод fit_transform в тестовом корпусе
data = tr_idf_model.fit_transform(text)
print(type(data), data.shape)

<class 'scipy.sparse._csr.csr_matrix'> (4, 18)

In [10]:
#преобразую в стандартный массив, чтобы иметь лучшее представление о значениях

tf_idf_array = data.toarray()
 
print(tf_idf_array)

[[0.         0.         0.         0.         0.         0.59081908
  0.         0.         0.46580855 0.46580855 0.         0.46580855
  0.         0.         0.         0.         0.         0.        ]
 [0.55528266 0.         0.43779123 0.         0.         0.
  0.         0.43779123 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.55528266]
 [0.         0.59081908 0.         0.         0.         0.
  0.         0.         0.46580855 0.46580855 0.         0.46580855
  0.         0.         0.         0.         0.         0.        ]
 [0.         0.         0.21664901 0.2747918  0.2747918  0.
  0.2747918  0.21664901 0.         0.         0.2747918  0.
  0.2747918  0.2747918  0.2747918  0.2747918  0.5495836  0.        ]]

In [11]:
#вывод исходных терминов

words_set = tr_idf_model.get_feature_names_out()
 
print(words_set)

['deceivers' 'ditties' 'ever' 'first' 'fraud' 'ladies' 'leafy' 'men'
 'more' 'no' 'of' 'sign' 'since' 'so' 'summer' 'the' 'was' 'were']

In [12]:
#создание фрейма данных для отображения оценки TF-IDF для каждого документа

df_tf_idf = pd.DataFrame(tf_idf_array, columns = words_set)
 
df_tf_idf

,deceivers,ditties,ever,first,fraud,ladies,leafy,men,more,no,of,sign,since,so,summer,the,was,were
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.590819,0.000000,0.000000,0.465809,0.465809,0.000000,0.465809,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.555283,0.000000,0.437791,0.000000,0.000000,0.000000,0.000000,0.437791,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.555283
2,0.000000,0.590819,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.465809,0.465809,0.000000,0.465809,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.216649,0.274792,0.274792,0.000000,0.274792,0.216649,0.000000,0.000000,0.274792,0.000000,0.274792,0.274792,0.274792,0.274792,0.549584,0.000000